// core overrides
$navbar-bg:                          rgba(255, 255, 255, 0.90) !default;
$navbar-brand-bg:                    rgba(255, 255, 255, 0.90) !default;
$aside-menu-width:                   350px !default;
