// Here you can add other styles

$coal: #222;
$goldenrod: #ffcc44;
$baby: #41b7d8;


label {
  // Allow labels to use `margin` for spacing.
  display: inline-block;
  margin-bottom: .15rem;
}

.notification {
  padding: 10px;
  margin: 0 5px 5px;

  font-size: 12px;

  animation: 'Velocity';
  speed: 4000;
  duration: 4000;

  color: black;
  background: $goldenrod;
  border-left: 5px solid; //#187FE7;
  border-left-color: black;

  &.warn {
    background: orange;
    border-left-color: #f48a06;
  }

  &.error {
    background: orange;
    border-left-color: #B82E24;
  }

  &.success {
    background: #68CD86;
    border-left-color: #42A85F;
  }
}

.notifications {
  display: block;
  left: 5px;
  top: 5px;
  position: fixed;
  z-index: 5000;
}

.notification-wrapper {
  display: block;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}

footer {
  background: $coal;
  clear:both;
  height: auto;
  width: 100%;
  & #footer_row {
    max-width: 85%;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  & .footer-logo {
    color: #fff;
    text-align: center;
    & a:link,
    a:visited {
      color: $goldenrod;
    }
    & .sms-icons {
      list-style-type: none;
      & li {
        display: inline;
        margin-right: 5px;
      }
      & i {
        color: $baby;
        font-size: 30px;
        background: #fff;
        padding: 10px;
        border-radius: 50%;
        width: 50px;
        transition: all ease-in-out .5s;
      }
      & i:hover {
        background: $coal;
        color: $goldenrod;
      }
    }
  }
  & img {
    height: auto;
    margin: 3% 0 5px 0;
  }
  & .col-md-3 {
    //border-left: 1px solid rgba(255,255,255,.2);
    height: 350px;
    margin-bottom: 0;
    & h4 {
      color: rgba(255,255,255,.8);
      margin-top: 10px;
    }
    & p {
      color: rgba(255,255,255,.5);
      font-size: 14px;
      & span {
        color: rgba(255,255,255,.75);
      }
    }
    & i {
      color: $goldenrod;
      font-size: 50px;
      margin-top: 20px;
    }
    & a:link, a:visited {
      color: #1b84ce;
    }
    & a:hover {
      color: $baby;
    }
  }
}
